.idea
Keras/2x1-Dense.model
Data/
Images/
Keras/logs/
__pycache__
Keras/.mdl_wts.hdf5
Keras/CSV-TensorBoard
Temp.R
Keras/Optim
Keras/Dense-2x32-lr-0.003.melhor
Keras/Dense-2x64-lr-0.003.melhor
Keras/optim_predict.csv
Keras/Dados-grid-pred.csv
Keras/Temp.py
estimativas.csv